#sidebar {
  width: 15%;
  display: block;
  float: left;
  height: 100%;
  padding-bottom:0px;
  padding-top: 0px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

#sidebar h1 {
  font-size: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#sidebar h1 a:link, #sidebar h1 a:visited {
  color: #333;
}

#sidebar h2 {
  font-size: 0.7rem;
}

#sidebar a:visited, #sidebar a:link {
  color: #4682BE;
  text-decoration: none;
}

#sidebar ol {
  margin: 0;
  padding-left: 10px;
  padding-top: 0;
}

#sidebar ol li {
  margin-top: 0;
  margin-bottom: 0.2rem;
  margin-left: 10px;
  padding: 0;
  font-size: 0.7rem;
}

#code {
  width: 45%;
  display: block;
  float: left;
  height: 100%;
  padding-bottom:0px;
  padding-top: 0px;
}

#output {
  width: 40%;
  display: block;
  float: left;
  height: 100%;
  padding-bottom:0px;
  padding-top: 0px;
}

iframe {
  height: 95%;
  width: 100%;
  border: none;
}

.CodeMirror {
  font-family: Courier New;
  font-size: 16px;
}

